@media only screen and (max-width: 1139px){}

/*product info*/
/*product info main*/
.product-visual{
	margin-right: 52%;
}
.product-info__main .company-info {
	width: 48%;
	margin-left: -50%;
}
.product-info__main .company-info{
	padding: 26px 18px 82px;
}
.product-info__main .company-info__btn {
	position: absolute;
	left: 18px;
	right: 18px;
}
.product-info__main .company-info__btn .btn-default-empty{
	font-size: 14px;
}
.product-info__gallery{
	-webkit-transform: translate(-52%, 0);
	-ms-transform: translate(-52%, 0);
	transform: translate(-52%, 0);
}
/*product info main end*/
/*product info end*/

/*company contacts*/
.company-contacts .company-info {
	float: none;
	width: auto;
	min-height: 0;
	margin: 0 0 30px 0;
}
.company-info__btn{
	text-align: center;
}
/*company contacts end*/