@media only screen and (max-width: 1400px){}
/*download files items*/
.files .files-item{
	width: 49.9%;
}
/*download files items end*/

.header-slogan__text{
	font-size: 16px;
}

/*synopsis section*/
/*synopsis content*/
.synopsis-item__full{
	width: 85%;
}
.rubric-visual-bg{
	width: 15%;
}
/*produce full*/
.produce-full-menu,
.produce-full-menu li a{
	font-size: 15px;
}
.produce-full-menu__col ul ul ul a {
	font-size: 14px;
}
.synopsis-item__full{
	padding: 34px 30px 30px;
}
.produce-full-img {
	width: 190px;
}
/*produce full end*/
/*synopsis content end*/
/*synopsis section end*/

/*product menu*/
.product-menu .product-box{
	width: 49.9%;
}
/*product menu end*/

/*contacts*/
.contacts__col,
.contacts__group{
	width: 50%;
}
.contacts__group-col{
	float: none;
	width: auto;
}
/*contacts end*/
