@media only screen and (max-width: 439px){}
/*synopsis section*/
/*synopsis controls*/
.synopsis__controls > li {
	font-size: 13px;
	line-height: 15px;
}
/*synopsis controls end*/
/*synopsis content*/
.rubric-visual-title {
	font-size: 14px;
	line-height: 20px;
	max-height: 220px;
}
/*product small*/
.produce-small{
	padding: 5px 10px 20px;
}
.produce-small__text{
	font-size: 12px;
	line-height: 18px;
}
.produce-small__heading{
	height: 60px;
}
.produce-small__angle{
	font-size: 10px;
	margin-top: -7px;
}
/*product small end*/
/*rubric visual*/
.rubric-visual {
	min-height: 445px;
}
.rubric-visual .departments-slider-wrap {
	padding: 21px 45px;
}
/*rubric visual end*/
/*synopsis content end*/
/*synopsis section end*/

/*location*/
/*location head*/
.location-head{
	padding-left: 15px;
	padding-right: 15px;
}
/*location head end*/
/*location map*/
.location .local-map {
	height: 223px;
}
/*location map end*/
/*location info*/
.location-info{
	padding-left: 15px;
	padding-right: 15px;
}
/*location info end*/
/*location end*/

/*partners*/
.partners__list .partners__item{
	width: auto;
	display: block;
}
/*partners end*/

/*certificates*/
.cert__item{
	width: 49.9%;
}
/*certificates end*/