@media only screen and (max-width: 439px){}
/*partners*/
.partners__list .partners__item{
	width: auto;
	display: block;
}
/*partners end*/

/*certificates*/
.cert__item{
	width: 49.9%;
}
/*certificates end*/