@media only screen and (max-width: 639px){}
/*user content*/
.heading-caption {
	padding: 0;
}
.heading-caption h1{
	float: none;
	padding-bottom: 37px;
}
.user-content ol,
.user-content ul{
	padding: 0;
}
/*element form*/
input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea{ margin: 0 0 18px; }
.form-row{ margin: 0 -9px; }
.form-row .input-wrap{ padding: 0 9px; }
.form-row, .input-wrap { padding: 0 0 18px; }
/*element form end*/

/*download files items*/
.files .files-item{
	display: block;
	width: auto;
	padding-bottom: 28px;
}
/*download files items end*/

/*breadcrumbs*/
.breadcrumbs{
	padding: 0 0 10px;
}
/*breadcrumbs end*/
/*user content end*/

/*promo section*/
/*promo slider*/
.promo-slide{
	padding: 56px 10px 46px;
	height: 265px;
}
.promo-slide__caption-holder{
	text-align: center;
}
.promo-slide__title,
.promo-slide__text{
	display: inline;
	font-size: 20px;
	line-height: 24px;
}
.slick-slide .promo-slide__title {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition: opacity 0.2s ease-out 0.5s;
	transition: opacity 0.2s ease-out 0.5s;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	opacity: 0;
}
.slick-current .promo-slide__title {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}
.slick-slide .promo-slide__text {
	-webkit-transform: translateX(100px);
	-ms-transform: translateX(100px);
	transform: translateX(100px);
	-webkit-transition: all 0.3s ease-out 0.2s;
	transition: all 0.3s ease-out 0.2s;
	opacity: 0;
}
.slick-current .promo-slide__text {
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

.promo-slider .slick-dots{
	bottom: 25px;
	left: 10px;
	right: 10px;
	text-align: center;
}
/*promo slider end*/

/*connect*/
.promo-section .connect{
	display: none;
}
/*connect end*/
/*promo section end*/

/*synopsis section*/
/*synopsis controls*/
.synopsis__controls > li{
	font: 13px/15px 'gothampro-regular', Arial, Helvetica, sans-serif;
	padding: 12px 15px;
}
/*synopsis controls end*/

/*synopsis content*/
.synopsis-container{
	height: auto;
}
.synopsis-item__full,
.rubric-visual-mask{
	display: none;
}
.rubric-visual-bg{
	width: 100%;
}

.synopsis-items-wrapper{
	width: 200%;
	-webkit-transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
	transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.synopsis-section.rt-active .synopsis-items-wrapper{
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.synopsis-section .synopsis-item__small {
	width: 50%;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.produce-small{
	width: auto;
}

.synopsis-item__visual{
	height: 445px;
	float: left;
	width: 50%;
}
.rubric-visual{
	padding: 30px 20px 40px;
}
.rubric-visual-title{
	font-size: 14px;
	line-height: 20px;
}
/*departments slider*/
.rubric-visual .departments-slider-wrap{
	left: 20px;
	right: 20px;
}
/*departments slider end*/
/*synopsis content end*/
/*synopsis section end*/

/*location*/
/*location head*/
.location-head{
	padding: 30px 15px 20px;
}
.location .location-head{
	width: auto;
	position: relative;
	top: auto;
	left: auto;
	z-index: 9;
}
.location-select{
	margin-left: 0;
	width: 122px;
}
button.cselect-local,
button.cselect-local .select-inner{
	text-transform: none;
}
div.cselect-local .ui-multiselect-checkboxes{
	margin-right: 0;
}
div.cselect-local.ui-multiselect-menu{
	width: auto !important;
	max-width: 80%;
}
.location-link{
	text-transform: none;
}
/*location head end*/
.location .local-map {
	height: 223px;
}
/*location info*/
/*location map*/
.location-info{
	background: #0059a6;
	padding: 20px 15px 30px;
	text-align: center;
}
/*location map end*/
/*__location info arrow*/
.location-info:after {
	bottom: 100%;
	left: 50%;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	border-color: rgba(0, 89, 166, 0);
	border-bottom-color: #0059a6;
	border-width: 13px;
	margin-left: -13px;
}
/*__location info arrow end*/
.location-info__location{
	position: relative;
	top: auto;
	width: auto;
	left: auto;
}
.location-info__holder{
	height: auto;
}
.location-info h3{
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 25px;
}
.location-info-list{
	font-size: 14px;
	line-height: 17px;
}
.location-info-list li {
	padding: 0 0 12px;
}
/*location info end*/
/*location end*/

/*clients section*/
.clients-section {
	padding: 35px 10px;
}
/*clients slider*/
.clients-list .slick-prev {
	margin-right: 8px;
}
.clients-list .slick-prev {
	margin-left: 8px;
}
/*clients slider end*/
/*clients section end*/

/*product menu*/
.cselect-products{
	float: none;
	width: 290px;
	display: block;
	max-width: 100%;
	margin: 0 0 0 auto;
}
.product-menu__list{
	padding-top: 30px;
}
/*product box*/
.product-menu .product-box{
	display: block;
	width: auto;
}
/*product box end*/
/*product menu end*/

/*product container*/
.prod-tab.opened-tab,
.prod-tab.made-active {
	padding: 14px 20px;
}
/*product container end*/

/*contact info*/
.contact-info__col {
	display: block;
	width: auto;
}
/*contact info end*/

/*news slider*/
.news-slider {
	padding: 34px 20px 50px;
}
.news-slider__content{
	text-align: center;
}
.news-slider__title{
	padding-bottom: 25px;
}
.news-slider__img{
	position: absolute;
	left: -9999px;
	top: -9999px;
}
.news-slider__img_copy{
	display: inline-block;
	position: relative;
	left: auto;
	top: auto;
	margin: 0 0 20px;
}

.news-slider .slick-dots{
	right: 25px;
	text-align: center;
}
/*news slider end*/

/*news*/
.news__item{
	display: block;
	width: auto;
}
.news__item h3 {
	font-size: 22px;
	line-height: 26px;
}
/*news end*/

/*partners*/
.preview-text {
	padding: 22px 25px;
}
.partners__list .partners__item {
	width: 50.0%;
}
/*partners end*/

/*agents previews*/
.agents-previews__list .agents-previews__item {
	padding: 0 15px 10px;
}
.agents-previews__item a {
	padding: 12px 10px;
}
.agents-previews__img {
	width: 80px;
	margin-right: 16px;
}
.agents-previews__text{
	display: none;
}
/*agents previews end*/

/*product info*/
/*product info main*/
.product-info__frame{
	float: none;
	padding: 0 0 30px;
}
.product-visual{
	margin-right: 0;
}
.product-info__main .company-info {
	float: none;
	width: 324px;
	max-width: 100%;
	margin: 0 auto;
}
.product-info__main.open-gallery .company-info {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.product-info__main .company-info__btn .btn-default-empty{
	font-size: 16px;
}
.product-info__gallery{
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
/*product info main end*/
/*product info end*/

/*certificates*/
.cert{ padding: 31px 10px 21px; }
.cert__item{ width: 33.29%; }
/*certificates end*/

/*contacts*/
.contacts__col,
.contacts__group{
	width: auto;
	float: none;
}
.contacts__col{
	padding-bottom: 50px;
}
.contacts__group-col{
	padding-bottom: 0;
}
/*contacts end*/

/*map contacts*/
.map-contacts{
	height: 225px;
}
/*map contacts end*/

/*callback form*/
.callback-form{
	padding: 22px 20px;
}
.callback-form .callback-popup-title {
	font-size: 22px;
	line-height: 24px;
	padding: 0 20px 22px;
}
.callback-form textarea {
	min-height: 90px;
	height: 90px;
}
/*callback form end*/

/*widget.css*/
/*fancybox*/
.fancybox-inner {
	overflow: visible !important;
	height: auto !important;
}
.fancybox-overlay-fixed{
	overflow-y: auto !important;
}
/*fancybox end*/
/*widget.css end*/