@media only screen and (max-width: 767px){}
h1 {
	font-size: 26px;
	line-height: 30px;
	padding: 0 0 30px;
}
h2 {
	font-size: 22px;
	line-height: 26px;
}
h3 {
	font-size: 18px;
	line-height: 24px;
}

/*promo section*/
.promo-slide__title{
	font-size: 48px;
	line-height: 52px;
}
.promo-slide__text{
	font-size: 22px;
	line-height: 26px;
}
/*promo section end*/

/*synopsis section*/
/*synopsis controls*/
.synopsis__controls > li {
	font-size: 18px;
	line-height: 22px;
	padding: 16px 20px 15px;
}
/*synopsis controls end*/
/*synopsis content*/
.synopsis-item__full{
	width: 87%;
}
.rubric-visual-bg{
	width: 13%;
}
/*produce full*/
.produce-full-menu,
.produce-full-menu li>a{
	font-size: 15px;
}
.synopsis-item__full{
	padding: 34px 20px 30px;
}
.produce-full-img {
	display: none;
}
.produce-full-item>h2{
	font-size: 20px;
	line-height: 24px;
	padding: 0 0 27px;
}
/*produce full end*/
/*rubric visual*/
.rubric-visual{
	padding: 30px 30px 40px;
}
.rubric-visual-title {
	font-size: 16px;
	line-height: 22px;
	padding: 0;
	max-height: 266px;
}
/*departments slider*/
.departments-slider-wrap{
	padding: 21px 45px;
}
.rubric-visual .departments-slider-wrap {
	left: 30px;
	right: 30px;
	bottom: 30px;
}
/*departments slider end*/
/*rubric visual end*/
/*synopsis content end*/
/*synopsis section end*/

/*company contacts*/
.company-contacts .company-info {
	float: none;
	width: auto;
	min-height: 0;
	margin: 0 0 30px 0;
}
.company-info__btn{ text-align: center; }
/*company contacts end*/

/*contact info*/
.contact-info{ padding: 20px 8px 7px; }
.contact-info__header{
	float: none;
	width: auto;
	display: block;
	padding-bottom: 10px;
}
/*contact info end*/

/*products container*/
.prod-tab-col {
	display: block;
	width: auto;
	padding: 0;
}
.prod-thumbs{
	padding: 29px 8px 0;
}
/*products container end*/

/*partners*/
.partners__list .partners__item { width: 33.3%; }
/*partners end*/

/*agents previews*/
.agents-previews__list .agents-previews__item{
	display: block;
	width: auto;
	padding: 0 15px 20px;
}
.agents-previews__item a{
	padding: 22px 20px;
	min-height: 0;
	overflow: hidden;
}
.agents-previews__img {
	padding: 0;
	margin-right: 20px;
	float: left;
	width: 100px;
}
.agents-previews__content{
	overflow: hidden;
	text-align: left;
}
/*agents previews end*/

/*certificates*/
.cert{
	padding: 31px 10px 21px;
}
/*certificates end*/

/*contacts*/
.contacts__col,
.contacts__group{
	width: 50%;
}
.contacts__group-col{
	float: none;
	width: auto;
}
/*contacts end*/

/*error 404*/
.error-404{
	text-align: center;
	padding: 7% 0;
}
.error-404__info {
	float: none;
	margin: 0 auto 40px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: auto;
}
.error-404__bg{
	overflow: visible;
	text-align: center;
	min-height: 0;
	max-height: 227px;
	margin: 0 auto;
	max-width: 504px;
}
/*error 404 end*/