@media only screen and (max-width: 979px){}
/*main blocks*/
.header,
.main,
.footer{
	-webkit-transition: transform 0.2s;
	transition: transform 0.2s;
}
.nav-opened .header,
.nav-opened .main,
.nav-opened .footer{
	-webkit-transform: translateX(175px);
	-ms-transform: translateX(175px);
	transform: translateX(175px);
}

/*MAX-WRAP*/
.max-wrap,
.two-menu-active .max-wrap{
	-webkit-transition: padding 0.2s;
	transition: padding 0.2s;
	padding-left: 0;
}
.footer {
	-webkit-transition: margin 0.2s;
	transition: margin 0.2s;
	margin-left: 0;
}
.content-align{
	padding: 0 20px;
}
.large-align{
	padding: 0 20px;
}
/*MAX-WRAP end*/
/*main blocks end*/

/*header*/
.header{
	min-height: 0;
	z-index: 5;
}
.header-holder{
	background: #0059a6;
	height: 46px;
}
.header-holder .large-align{
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	overflow: visible;
}
.btn-menu{
	display: block;
}
.header-options{
	padding: 0;
}
.btn-search-open {
	padding: 12px 13px;
}
.header-slogan,
.header-phone{
	display: none;
}
/*header end*/

/*panel*/
.panel{
	-webkit-transition: transform 0.2s;
	transition: transform 0.2s;
	-webkit-transform: translateX(-175px);
	-ms-transform: translateX(-175px);
	transform: translateX(-175px);
}
.nav-opened .panel{
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.header .logo{
	/*background: #f00;*/
	opacity: 1;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.nav-opened .header .logo{
	/*opacity: 0;*/
	/*-webkit-transform: translate(-175px, 0) scale(6.6, 4.9);*/
	/*-ms-transform: translate(-175px, 0) scale(6.6, 4.9);*/
	/*transform: translate(-175px, 0) scale(6.6, 4.9);*/
}
/*panel end*/