@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed);
@import url(fonts.css);
@import url(../fonts/font-awesome-4.5.0/css/font-awesome.min.css);
@import url(normalize.css);
@import url(buttons.css);
@import url(sp.css);
@import url(widgets.css);
@import url(jquery.mCustomScrollbar.css);

/*fonts*/
/*@import url(fonts.css);*/
/*fonts end*/

/*normalize*/
/*@import url(normalize.css);*/
/*normalize end*/

/*------ typographic styles ------*/
body{
	font: 16px/22px 'gothampro-regular', Arial, Helvetica, sans-serif;
	color: #333;
	height: 100%;
	min-width: 320px;
	background: #fff;
}
h1, h2, h3, h4, h5, h6{
	font: 16px/22px 'gothampro-bold', Arial, Helvetica, sans-serif;
	margin: 0;
	color: #333;
}
h1{
	font-size: 34px;
	line-height: 38px;
	color: #d32e2e;
	padding: 0 0 37px;
}
h2{
	font-size: 24px;
	line-height: 28px;
	padding: 0 0 20px;
}
h3{
	font-size: 20px;
	line-height: 24px;
	padding: 0 0 19px;
}
h4{
	font-size: 16px;
	line-height: 20px;
	padding: 0 0 13px;
}
h5{
	font-family: 'gothampro-regular', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: #666;
	font-weight: 100;
	padding: 0 0 12px;
}
h6{
	font-size: 12px;
	line-height: 14px;
	font-weight: 100;
	padding: 0 0 5px;
}
p{
	padding: 0 0 10px;
	margin: 0;
}
hr{
	line-height: 1px;
	height: 0;
	border: none;
	background: none;
	border-bottom: 1px solid #333;
	margin-bottom: 25px;
}
a{
	color: #0059a6;
	outline: none;
	text-decoration: underline;
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
img{
	border: none;
	vertical-align: top;
}
b, strong, th{
	font-family:'gothampro-bold', Arial, Helvetica, sans-serif;
	font-weight:normal;
}
i, em{
	font-family:'gothampro-italic', Arial, Helvetica, sans-serif;
	font-style:normal;
}
i b,
i strong,
em b,
em strong,
b i,
b em,
strong i,
strong em{
	font-family: 'gothampro-bold-italic', Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-style:normal;
}
/*------ typographic styles end ------*/
/*clearfix*/
/*@import url(clearfix.css);*/
/*clearfix end*/

/*sp*/
/*@import url(sp.css);*/
/*sp end*/

/*btn*/
/*@import url(buttons.css);*/
/*btn end*/

/*gradient*/
/*@import url(gradient.css);*/
/*gradient end*/

/*TEXT PAGES*/
.text-page *+h2,
.text-page *+h3,
.text-page *+h4,
.text-page *+h5{
	padding-top: 30px;
}
/*unordered list (UL) styling*/
.text-page ul{
	margin:0;
	padding: 0 0 10px 40px;
	list-style:none;
}
.text-page ul>li{
	padding: 10px 0 0 15px;
	position: relative;
}
.text-page ul>li:first-child{
	padding-top: 0;
}
.text-page ul>li:before{
	content: '';
	position: absolute;
	left: 0;
	top: 18px;
	height: 6px;
	width: 6px;
	background: #d32e2e;
	border-radius: 6px;
}
.text-page ul>li:first-child:before{
	top: 9px;
}
.text-page ul>li ul{
	padding: 0 0 0 25px;
}
.text-page ul>li>ul>li:before,
.text-page ul>li>ul>li:first-child:before{
	height: 2px;
	width: 8px;
	border-radius: 0;
	top: 23px;
}
.text-page ul>li li:first-child{
	padding-top: 10px;
}
.text-page ul>li>ul>li>ul>li:before,
.text-page ul>li>ul>li>ul>li:first-child:before{
	height: 7px;
	width: 7px;
	border-radius: 0;
	background: none;
	border: 2px solid #d32e2e;
	top: 20px;
}
/*reset-ul*/
[class$="-list"],
[class$="-list"] ul,
.text-page [class$="-list"],
.text-page [class$="-list"] ul{
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	border: none;
}
/*reset-ul end*/
/*unordered list (UL) styling end*/

/*numbered list (OL) styling*/
.text-page ol{
	counter-reset: section;
	margin: 0;
	list-style: none;
	padding: 0 0 0 40px;
}
.text-page ol:after{
	content: "";
	display: block;
	clear: both;
}
.text-page ol > li{
	counter-increment: section;
	height: 1%;
	overflow: hidden;
	padding: 0 0 10px;
}
.text-page ol > li:before{
	display: inline-block;
	text-align: left;
	color: #d32e2e;
	min-width: 18px;
	content: counter(section) ".";
	padding: 0 5px 0 0;
}
/*numbered list (OL) styling end*/
/*table styling*/
.table{
	overflow: auto;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
	margin: 0 0 20px;
}
.tbl{
	width: 100%;
	table-layout: fixed;
	border: 1px solid #99bddb;
	margin-bottom: 20px;
}
.table .tbl{
	margin: 0;
}
.tbl td,
.tbl th{
	font: 14px/20px 'gothampro-regular', Arial, Helvetica, sans-serif;
	text-align: center;
	color: #333;
	background-color: #fff;
	border: solid #99bddb;
	border-width: 0 0 0 1px;
	padding: 13px 12px;
}
.tbl tbody tr:nth-child(even) td{
	background: #e5eef6;
}
.tbl td:first-child{
	font-family: 'gothampro-bold', Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 24px;
}
.tbl tbody td:first-child,
.tbl tfoot td:first-child{
	border-left-width: 0;
}
.tbl thead th,
.tbl thead td{
	font-family: 'gothampro-bold', Arial, Helvetica, sans-serif;
	line-height: 17px;
	color: #fff;
	background: #0059a6;
	padding: 16px 12px 17px;
}
.tbl tfoot td{
	font-family: 'gothampro-bold', Arial, Helvetica, sans-serif;
	background: #e5eef6;
}
/*table styling end*/
/*default table*/
table{
	border-collapse: collapse;
	border-spacing: 0;
}
table td,
table th{
	padding: 5px;
	border: 1px solid #99bddb;
	font-size: 14px;
	line-height: 1.4;
}
/*default table end*/
/*blockquote*/
.blockquote{
	background-color: #e5eef6;
	border-left: 4px solid #0059a6;
	padding: 30px 35px 28px 30px;
	margin: 0 0 20px;
}
.blockquote .q{
	display: block;
	margin: 0;
	padding: 0 0 14px;
}
.blockquote .q p{
	padding: 0 0 10px;
}
.blockquote .cite{
	text-align: right;
	display: block;
	margin-left: auto;
	font: 14px/22px 'gothampro-italic', Arial, Helvetica, sans-serif;
}
.blockquote .cite-holder{
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
/*blockquote end*/
/*content img*/
.img-content{
	margin: 0;
	padding: 26px 0 39px;
	text-align: center;
}
.imgc{
	text-align: center;
}
.imgl{
	text-align: left;
	float: left;
	margin: 0 20px 0 0;
}
.imgr{
	text-align: right;
	float: right;
	margin: 0 0 0 20px;
}
/*content img end*/
/*files item*/
.files-item{
	font-size: 14px;
	line-height: 18px;
	letter-spacing: normal;
	padding-left: 54px;
	min-height: 46px;
}
.files-item [class*="depict-files-"]{
	position: absolute;
	left: 0;
	top: 0;
}
.files-item__content{
	padding: 0 0 0 53px;
	position: relative;
}
.files-item__title{
	padding: 5px 0 7px;
}
.files-item__title a{
	padding-top: 5px;
}
.files-content .files-info{
	color: #666;
}
/*files item end*/
/*download files items*/
.files{
	padding: 0 0 20px;
	margin-left: -30px;
	font-size: 0;
	letter-spacing: -4px;
}
.files .files-item{
	display: inline-block;
	vertical-align: top;
	width: 33.3%;
	padding: 0 0 48px 30px;
}
/*download files items end*/
/*elements form style*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{
	display: block;
	color: #333;
	font: 14px/16px 'gothampro-regular', Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	height: 34px;
	width: 100%;
	padding: 8px 13px;
	background: #fff;
	box-shadow: none;
	border: 1px solid #0059a6;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 28px;
}
.input-wrap input[type="text"],
.input-wrap input[type="password"],
.input-wrap input[type="email"],
.input-wrap input[type="search"],
.input-wrap textarea{
	margin: 0;
}
textarea{
	padding: 8px 13px;
	min-height: 114px;
	height: 114px;
	line-height: 16px;
	resize: vertical;
}
/*placeholder style*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{ color: #666; transition: 0.2s; -webkit-transition: 0.2s; }
input:-moz-placeholder,
textarea:-moz-placeholder{ color: #666; transition: 0.2s; -webkit-transition: 0.2s; }
input::-moz-placeholder,
textarea::-moz-placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
input.placeholder,
textarea.placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
/*placeholder style end*/
/*placeholder hidden*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{ color: transparent !important; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{ color: transparent !important; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{ color: transparent !important; }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder{ color: transparent !important; }
input.placeholder:focus,
textarea.placeholder:focus{ color: transparent !important; }
/*placeholder hidden end*/
/*form focus*/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus{
	box-shadow: 0 0 5px rgba(0,89,166, 0.4);
}
/*form focus end*/
/*form error*/
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="search"].error,
textarea.error{
	color: #d32e2e;
	border-color: #d32e2e;
	box-shadow: 0 0 5px rgba(211, 46, 46, 0.4);
}
input.error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder{ color: #d32e2e; }
input.error:-moz-placeholder,
textarea.error:-moz-placeholder{ color: #d32e2e; }
input.error::-moz-placeholder,
textarea.error::-moz-placeholder{ color: #d32e2e; opacity: 1; }
input.error:-ms-input-placeholder,
textarea.error:-ms-input-placeholder{ color: #d32e2e; opacity: 1; }
input.error .placeholder,
textarea.error .placeholder{ color: #d32e2e; opacity: 1; }
/*form error end*/
/*radio and checkbox*/
input[type="radio"]{ float: left; height: 15px; width: 16px; margin: 0; padding: 0; }
input[type="checkbox"]{ width: 16px; height: 16px; padding: 0; margin: 0; }
/*radio and checkbox end*/
/*form error end*/
.form-row,
.input-wrap{ padding: 0 0 28px; }
.form-row {
	font-size: 0;
	letter-spacing: -4px;
	margin-left: -30px;
}
.form-row .input-wrap{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding: 0 0 0 30px;
}
.form-col{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.label-holder{ padding: 0 0 10px; }
.label-holder,
label{ color: #333; }
/*select*/
/*custom select style*/
.cselect-wrap{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 100%;
}
.cselect-wrap .cselect{
	width: 100%;
}
/*custom select button*/
button.cselect{
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
}
button.cselect .select-inner{
	display: block;
	position: relative;
	padding: 14px 30px 13px 17px;
	background-color: #d32e2e;
	border: 1px solid #d32e2e;
	border-radius: 0;
}
button.cselect,
button.cselect .select-inner{
	font: 14px/17px 'gothampro-regular', Arial, Helvetica, sans-serif;
	color: #fff;
}
button.cselect .select-text{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
button.cselect .ui-icon{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 30px;
	display: block;
	background: none;
}
button.cselect .ui-icon .arrow-select{
	position: absolute;
	right: 10px;
	top: 18px;
	width: 10px;
	height: 7px;
}
button.cselect .ui-icon .arrow-select:after{
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 7px;
	background: url(../img/sprite-icons.png) no-repeat;
}
button.cselect.ui-state-active .ui-icon .arrow-select:after{
	background-position: 0 -27px;
}
/* custom select button end */

/* custom select menu */
div.cselect.ui-multiselect-menu{
	padding: 0;
	margin: 0;
}
div.cselect .ui-multiselect-checkboxes{
	padding: 15px 0;
	margin: 0;
	list-style-type: none;
	height: auto !important;
	max-height: 350px;
	overflow: auto;
	background-color: #fff;
	border: 1px solid #d32e2e;
	border-radius: 0;
}
div.cselect .ui-multiselect-checkboxes li{
	padding: 0;
}
div.cselect .ui-multiselect-checkboxes label input{
	position: absolute;
	left: -9999px;
}
div.cselect .ui-multiselect-checkboxes label{
	display: block;
	cursor: pointer;
	font: 14px/17px 'gothampro-regular', Arial, Helvetica, sans-serif;
	color: #0059a6;
	font-weight: 400;
	padding: 5px 17px 4px;
}
div.cselect .ui-multiselect-checkboxes label:hover{
	/*background-color: #fdb4b4;*/
	text-decoration: underline;
}
div.cselect .ui-multiselect-checkboxes label.ui-state-active{
	/*background-color: #fda6a4;*/
	font-family: 'gothampro-bold', Arial, Helvetica, sans-serif;
}
/* custom select menu end*/
/*custom select style*/
/*select end*/
/*elements form style end*/
/* breadcrumbs */
.breadcrumbs{
	font: 12px/14px 'gothampro-regular', Arial, Helvetica, sans-serif;
	color: #333;
	padding: 0 0 44px;
}
.breadcrumbs:before,
.breadcrumbs:after { content: ""; display: table; }
.breadcrumbs:after { clear: both; }
.breadcrumbs__item{
	float: left;
	padding: 10px 32px 10px 16px;
	position: relative;
	margin: 0;
}
.breadcrumbs__item:first-child{
	padding-left: 0;
}
.breadcrumbs__item .arrow{
	position: absolute;
	right: 13px;
	top: 13px;
	color: #0059a6;
	font-size: 11px;
}
.breadcrumbs a{
	color: #333;
	text-decoration: none;
}
.breadcrumbs a:hover{
	text-decoration: underline;
}
.breadcrumbs__item_has-drop,
.breadcrumbs__item_has-drop:first-child{
	vertical-align: top;
	border: 1px solid #0059a6;
	background: #fff;
	width: 258px;
	padding: 0;
	margin: 0 32px 8px 0;
}
.breadcrumbs__item_has-drop .arrow{
	position: absolute;
	right: auto;
	left: 100%;
	margin-left: 13px;
	pointer-events: none;
	z-index: -1;
	color: #0059a6;
	font-size: 11px;
}
.breadcrumbs__item_has-drop:last-of-type,
.breadcrumbs__item_has-drop:last-child,
.breadcrumbs__item_last{
	margin-right: 0;
}
.breadcrumbs__item:last-of-type .arrow,
.breadcrumbs__item:last-child .arrow,
.breadcrumbs__item_last .arrow{
	display: none;
}
.breadcrumbs__item_has-drop>a{
	display: block;
	padding: 9px 28px 9px 13px;
}
.breadcrumbs__item_has-drop>a>span{
	display: block;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	background: #fff;
	z-index: 9;
}
.breadcrumbs__item_has-drop .arrow-drop{
	position: absolute;
	right: 9px;
	top: 11px;
	color: #0059a6;
	font-size: 11px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.breadcrumbs__item_has-drop.hover .arrow-drop{
	/*-webkit-transform: rotate(-180deg);*/
	/*-ms-transform: rotate(-180deg);*/
	/*transform: rotate(-180deg);*/
	-webkit-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}
.breadcrumbs-drop{
	border: 1px solid #0059a6;
	background: #fff;
	position: absolute;
	left: -1px;
	right: -1px;
	top: -9999px;
	margin: -1px 0 0;
	z-index: 99;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	opacity: 0;
}
.breadcrumbs-drop__holder{
	padding: 1px 13px 9px;
	background: #fff;
	position: relative;
	top: -1px;
}
.breadcrumbs__item_has-drop.hover>.breadcrumbs-drop{
	top: 100%;
	opacity: 1;
}
.breadcrumbs-drop__item{
	padding: 5px 0;
}
.breadcrumbs-drop__item a{
	display: block;
}
/* breadcrumbs end */
/*TEXT PAGES end*/

/*main blocks*/
.panel{
	position: fixed;
	left: 0;
	top: 0;
	width: 240px;
	height: 100%;
	background: #ccdeed;
	min-height: 260px;
	z-index: 4;
}
.wrapper{
	margin: 0;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.header{
	position: relative;
	z-index: 3;
}
.main{
	padding: 0 0 130px;
	position: relative;
	clear: both;
	z-index: 3;
}
.content{
	margin: 0;
	min-height: 50px;
	padding: 30px 0 0;
}
.large-align{
	max-width: 1300px;
	padding: 0 30px;
	margin: 0 auto;
}
.footer{
	margin: -68px auto 0 240px;
	height: 68px;
	position: relative;
	clear: both;
	z-index: 5;
}
/*MAX-WRAP*/
.max-wrap{
	max-width: 1600px;
	padding-left: 240px;
}
.two-menu-active .max-wrap{
	padding-left: 480px;
}
.footer .max-wrap{
	max-width: 1360px;
	padding-left: 0;
}
.two-menu-active .footer .max-wrap{
	padding-left: 240px;
}
.content-align{
	max-width: 1060px;
	padding: 0 30px;
	margin: 0 auto;
}
/*MAX-WRAP end*/
/*main blocks end*/

/*sidebar*/
.panel-holder{
	height: 100%;
	padding: 173px 0 80px;
}
.panel-frame{
	height: 100%;
	padding: 0 0 7px;
}
/*logo*/
.logo{
	display: block;
	background: #fff url(../img/logo.png) no-repeat 50% 50%;
	width: 152px;
	height: 123px;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0;
}
.panel .logo{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 173px;
}
.logo a{
	display: block;
	height: 100%;
}
/*logo end*/
/*main navigation*/
/*nav-list*/
.nav-list{
	border-bottom: 1px solid #a3c3df;
	background: #ccdeed;
}
.nav-list li{
	border-top: 1px solid #a3c3df;
	position: relative;
}
.nav-list li.hide-element{
	display: none;
}
.nav-list li>a{
	display: block;
	position: relative;
	padding: 15px 45px 15px 30px;
	font: 14px/17px 'gothampro-bold', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #0059a6;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-list>li>a:hover,
.nav-list>li:hover>a{
	background: #e5eef6;
}
.nav-list li.active>a{
	background: #d32e2e;
	color: #fff;
}
.nav-list li>.depict-angle,
.nav-list li>a>.depict-angle{
	position: absolute;
	right: 20px;
	top: 50%;
	font-size: 11px;
	line-height: 1;
	color: #0059a6;
	margin-top: -5px;
	pointer-events: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-list li.active>.depict-angle,
.nav-list li.active>a>.depict-angle{
	color: #fff;
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
/*nav-list end*/

/*nav-drop*/
.nav-drop{
	background: #e5eef6;
	display: none;
}
.drop-visible{
	width: 240px;
	height: 100%;
	position: fixed;
	left: 240px;
	top: 0;
	padding: 0 0 68px;
}
.drop-visible__holder{
	height: 100%;
	border-bottom: 1px solid #b7d0e6;
}
.two-menu-active .drop-visible{
	display: block;
}
.two-menu-active .has-drop-hidden .drop-visible{
	display: none;
}
.has-drop-visible .nav-drop__list{
	border-bottom: 1px solid #b7d0e6;
}
.nav-drop__list li{
	border-top: 1px solid #a3c3df;
	position: relative;
}
.nav-drop__list li>a{
	background: #e5eef6;
	text-transform: none;
	padding: 10px 45px 9px 30px;
}
.nav-drop__list li>a:hover,
.nav-drop__list li:hover>a{
	background: #fff;
}
.nav-drop__list li.active>a{
	background: #d32e2e;
	color: #fff;
}
.two-menu-active .has-drop-visible>a,
.two-menu-active .has-drop-visible.active>a{
	background: #e5eef6;
	color: #0059a6;
}
.nav-list .has-drop-visible>.depict-angle,
.nav-list .has-drop-visible>a>.depict-angle,
.nav-list .has-drop-hidden>.depict-angle,
.nav-list .has-drop-hidden>a>.depict-angle{
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.nav-drop__list li.active>.depict-angle,
.nav-drop__list li.active>a>.depict-angle{
	color: #fff;
}
/*nav-drop end*/

/*nav-sub-drop*/
.nav-sub-drop{
	display: none;
}
.nav-sub-drop__list li{
	border-top: 1px solid #ccdeed;
	position: relative;
}
.nav-sub-drop__list li>a{
	font-family: 'gothampro-regular', Arial, Helvetica, sans-serif;
	background: #fff;
	text-transform: none;
}
.nav-sub-drop__list li>a:hover,
.nav-sub-drop__list li:hover>a{
	background: #fff;
	text-decoration: underline;
}
.nav-sub-drop__list li.active>a{
	background: #d32e2e;
	color: #fff;
}
.nav-sub-drop__list li.active>.depict-angle,
.nav-sub-drop__list li.active>a>.depict-angle{
	color: #fff;
}
/*nav-sub-drop end*/
/*main navigation end*/
/*user options*/
.panel .user-options{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #a3c3df;
	background: #ccdeed;
}
.user-options-holder{
	padding: 20px 16px;
}
.lang{
	list-style:none;
	padding:0;
	margin:0;
	font-size: 0;
	letter-spacing: -4px;
	line-height: 16px;
}
.lang li{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	letter-spacing: normal;
	text-transform: uppercase;
	text-align: center;
	padding: 0 2px 5px 0;
}
.lang li a{
	color: #0059a6;
	text-decoration: none;
	display: block;
	padding: 2px 2px;
	background: rgba(255, 255, 255, 0.6);
	cursor: default;
	min-width: 27px;
}
.lang li a:link{
	background: none;
	cursor: pointer;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.0);
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.lang li a:link:hover{
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.6);
}
.post-link a{
	color: #0059a6;
	text-decoration: none;
}
.post-link a i{
	padding: 0 5px 0 0;
}
.post-link a .text-inner{
	text-decoration: underline;
}
.post-link a:hover .text-inner{
	text-decoration: none;
}
/*user options end*/
/*sidebar end*/

/*header*/
.header-holder{
	padding: 10px 0;
	background: #552900 url(../img/bg-header.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.header-holder:before,
.header-holder:after { content: ""; display: table; }
.header-holder:after { clear: both; }
.header-options{
	float: right;
	padding: 22px 0 23px;
}
/*search-form*/
.search-form{
	height: 80px;
	position: relative;
	display: none;
}
.search-form form{
	width: 100%;
}
.search-form form:before,
.search-form form:after { content: ""; display: table; }
.search-form form:after { clear: both; }
.search-form .input-wrapper{
	padding: 15px 55px 15px 60px;
	position: relative;
	opacity: 0;
	-webkit-transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.header.form-opened .search-form .input-wrapper{
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}
.search-form .input-wrapper input[type="search"],
.search-form .input-wrapper input[type="text"]{
	color: #333;
	font: 26px/30px 'gothampro-light', Arial, Helvetica, sans-serif;
	padding: 10px 0;
	height: auto;
	background: none;
	box-shadow: none;
	border: none;
	margin: 0;
}
.search-form input::-webkit-input-placeholder{ color: #999 !important; }
.search-form input:-moz-placeholder{ color: #999 !important; }
.search-form input::-moz-placeholder{ color: #999 !important; }
.search-form input:-ms-input-placeholder{ color: #999 !important; }
.search-form input.placeholder{ color: #999 !important; }
/*.search-form input:focus::-webkit-input-placeholder{ color: transparent !important; }*/
/*.search-form input:focus:-moz-placeholder{ color: transparent !important; }*/
/*.search-form input:focus::-moz-placeholder{ color: transparent !important; }*/
/*.search-form input:focus:-ms-input-placeholder{ color: transparent !important; }*/
/*.search-form input.placeholder:focus{ color: transparent !important; }*/
.search-form .btn-search{
	float: left;
	font: 46px/60px 'gothampro-regular', Arial, Helvetica, sans-serif;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 5px;
}
.btn-search .depict-search{
	color: #666;
	font-size: 30px;
	line-height: inherit;
	vertical-align: top;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.btn-search:hover .depict-search{
	color: #333;
}
.search-form .btn-search input[type="submit"]{
	padding: 0;
	border: none;
	background: none;
	margin: 0;
}
.btn-search-close{
	position: absolute;
	top: 50%;
	right: 0;
	margin: -15px 0 0;
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.btn-search-close:before,
.btn-search-close:after{
	content: '';
	position: absolute;
	left: -0.3em;
	top: 0.9em;
	height: 3px;
	width: 40px;
	background: #666;
	border-radius: 5px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.btn-search-close:before{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.btn-search-close:after{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.btn-search-close:hover:before,
.btn-search-close:hover:after{
	background: #333;
}
/*search-form end*/
/*search form opener*/
.btn-search-open{
	float: left;
	font: 16px/22px 'gothampro-regular', Arial, Helvetica, sans-serif;
	color: #fff;
	cursor: pointer;
}
.btn-search-open .depict-search{
	color: #fff;
	font-size: 16px;
	margin-right: 10px;
}
/*search form opener end*/
.header-phone{
	float: left;
	font: 16px/22px 'gothampro-bold', Arial, Helvetica, sans-serif;
	color: #fff;
}
.header-options .header-phone{padding: 0 0 0 41px;}
.header-phone .depict-phone{
	font-size: 19px;
	margin-right: 9px;
}
.header-slogan{
	overflow: hidden;
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	padding: 20px 20px 25px 0;
}

/*header end*/

/*main*/
/*main end*/

/*footer*/
.footer .max-wrap{
	background: #ccdeed;
	height: 100%;
}
.footer .large-align{
	height: 100%;
}
.footer-holder{
	padding: 0;
	height: 100%;
	font-size: 0;
	line-height: 1;
	letter-spacing: -4px;
	color: #0059a6;
}
.footer-holder:before{
	content: '';
	display: inline-block;
	display:-moz-inline-stack;
	height: 100%;
	vertical-align: middle;
}
.footer-col{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: normal;
}
.footer-col_left{
	text-align: left;
}
.footer-col_right{
	text-align: right;
}
.site-developer{
	line-height: 23px;
}
.site-developer_logo{
	display: inline-block;
	vertical-align: top;
	background: url(../img/bg-developer.png) no-repeat;
	width: 123px;
	height: 23px;
	font-size: 12px;
	line-height: 23px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}
.site-developer_logo:hover{
	background-position: -123px 0;
}
/*footer end*/
