/* gotham-pro regular */
@font-face {
	font-family: 'gothampro-regular';
	src: url('../fonts/gotham-pro/regular/gothampro-regular.eot');
	src: url('../fonts/gotham-pro/regular/gothampro-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham-pro/regular/gothampro-regular.woff') format('woff'),
	url('../fonts/gotham-pro/regular/gothampro-regular.ttf') format('truetype'),
	url('../fonts/gotham-pro/regular/gothampro-regular.svg#gothampro-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* gotham-pro bold */
@font-face {
	font-family: 'gothampro-bold';
	src: url('../fonts/gotham-pro/bold/gothampro-bold.eot');
	src: url('../fonts/gotham-pro/bold/gothampro-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham-pro/bold/gothampro-bold.woff') format('woff'),
	url('../fonts/gotham-pro/bold/gothampro-bold.ttf') format('truetype'),
	url('../fonts/gotham-pro/bold/gothampro-bold.svg#gothampro-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* gotham-pro bold italic */
@font-face {
	font-family: 'gothampro-bold-italic';
	src: url('../fonts/gotham-pro/bold-italic/gothampro-bold-italic.eot');
	src: url('../fonts/gotham-pro/bold-italic/gothampro-bold-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham-pro/bold-italic/gothampro-bold-italic.woff') format('woff'),
	url('../fonts/gotham-pro/bold-italic/gothampro-bold-italic.ttf') format('truetype'),
	url('../fonts/gotham-pro/bold-italic/gothampro-bold-italic.svg#gothampro-bold-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* gotham-pro italic */
@font-face {
	font-family: 'gothampro-italic';
	src: url('../fonts/gotham-pro/italic/gothampro-italic.eot');
	src: url('../fonts/gotham-pro/italic/gothampro-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gotham-pro/italic/gothampro-italic.woff') format('woff'),
	url('../fonts/gotham-pro/italic/gothampro-italic.ttf') format('truetype'),
	url('../fonts/gotham-pro/italic/gothampro-italic.svg#gothampro-italic') format('svg');
	font-weight: normal;
	font-style: normal;
}